<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Книжный магазин</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/logo/PeterM_Flower.png" alt="logo" class="navbar-brand" />
                @Html.ActionLink("Цветочный магазин", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Главная страница", "Index","Home") </li>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                    {
                        <li>@Html.ActionLink("Админ панель", "Index", "Store")</li>

                    }
                    @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
                    {
                        <li>@Html.ActionLink("О нас", "About", "Home")</li>
                        <li>@Html.ActionLink("Связь с нами", "Contact", "Home")</li>
                    }

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Request.IsAuthenticated)
                    {
                        <li><a href="../../Home/Logout">Выйти</a></li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Войти", "Login", "Account")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="text-align: right;">
            <p>&copy @DateTime.Now.Year - Nikita Jefremov</p>
            <p>Текущее время: <b>@DateTime.Now.ToShortTimeString()</b></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
